# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that the Data Scientists use are:
1. Python 
2. R
3. SQL
4. C++
5. Java ect...;

Some of the commonly used libraries used by Data Scicentists include:
1. TensorFlow.
2. Numpy.
3. scipy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. Scikit-Learn.
8. PyTorch. ect...;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensorflow|

## Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#this is a common arithmetic example to multiply and then add integers
(3*4)/5

2.4

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__objective__
* List popular languages for Data science
* List popular libraries for Data science
* List of well known Data Science Tools
* How to provide comments in the cell

## Author
Gaurav Kulkarni